body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #793093;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav-btn {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25%;
}

.nav-btn:hover {
    background-color: #aaa;
}
